#header {
    margin: 12px;
    margin-bottom: 32px;
    text-align: center;
}
#main {
    margin: 12px;
    font-weight: 400;
}
#footer{
    margin: 12px;
    margin-top: 64px;
    text-align: center;
}
.header-title {
    font-size: 18px;
    border-bottom: none ;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: 400;
}
h2 {
    font-size: 32px;
    border-bottom: 1px solid #808080;
    font-weight: 400;
}
p{
    margin-bottom: 12px;
}
body {
    font-family: Georgia;
    font-size: 16px;
    margin: 0 auto;   /* center content */
    max-width: 800px; /* limit width */
    line-height: 1.5;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  ul {
      margin: 0;
  }
#img 
{
    width: 40px;
    height: 60px;
}
